<!--<p id="notice"><%#= notice %></p>-->

<div class="row">
  <header>
    <h1> Personal Profile</h1>
  </header>

  <section id="content">
    <h1> Personal Information</h1>

    <!--<p>-->
      <!--&lt;!&ndash;<strong>Avatar:</strong>&ndash;&gt;-->
      <!--<%#= image_tag(@profile.avatar ) %>-->
    <!--</p>-->

    <p>
      <!--<strong>Avatar:</strong>-->
      <%=  image_tag @profile.photo.url %>
      <%#=  image_tag @profile.photo.url(:thumb) %>
    </p>
    <p>
      <strong>Fullname:</strong>
      <%= @profile.fullname %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @profile.age %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @profile.email %>
    </p>
    <p>
      <strong>Schoolname:</strong>
      <%= @profile.schoolName %>
    </p>
    <p>
      <strong>Major:</strong>
      <%= @profile.major %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%=  @profile.gender %>
    </p>
  </section>

  <section id="middle">
    <h1> Personal Preferences</h1>
    <p>
      <strong>Smoke:</strong>
      <%= @profile.smoke %>
    </p>

    <p>
      <strong>Pet:</strong>
      <%= @profile.pet %>
    </p>

    <p>
      <strong>Drive:</strong>
      <%= @profile.drive %>
    </p>


  </section>

  <aside id="sidebar">
    <h1> Personal Bio</h1>
    <p>
      <strong>Bio:</strong>
      <%= @profile.bio %>
    </p>
  </aside>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', page_home_path %>


</div>