<div>
  <nav>
    <ul>
      <li><%= link_to 'HOME', page_home_path %></li>
      <li><%= link_to 'ABOUT US' , page_about_path%></li>
      <li><%= link_to 'PROFILE' , page_profile_path%></li>
      <li><%= link_to 'CONTACT US' , page_contact_path %></li>
      <li><%= link_to 'RIDES', page_rides_path %></li>
    </ul>
  </nav>
</div>