<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1> <%= @name %>, Thank you for contacting CollegeRides.com</h1>

<p>
    <h3>We received your message about: </h3><%= @subject %>
    <h3>You submitted: </h3><%= @message %>
    <h3>We will respond to your inquiry very soon at the email you provided: </h3><%= @email %>.
    <h3>To browse our site in the meantime, just follow this link: </h3><%= @url %>.
    <h2>Thanks for your communication and have a great day!</h2>
</p>
</body>
</html>